<h1>Listing twitter_runs</h1>

<table>
  <tr>
    <th>Run url</th>
    <th>Miles</th>
    <th>Pace</th>
    <th>Accounted</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @twitter_runs.each do |twitter_run| %>
  <tr>
    <td><%= twitter_run.run_url %></td>
    <td><%= twitter_run.miles %></td>
    <td><%= twitter_run.pace %></td>
    <td><%= twitter_run.accounted %></td>
    <td><%= twitter_run.user_id %></td>
    <td><%= link_to 'Show', twitter_run %></td>
    <td><%= link_to 'Edit', edit_twitter_run_path(twitter_run) %></td>
    <td><%= link_to 'Destroy', twitter_run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Twitter run', new_twitter_run_path %>
