<p id="notice"><%= notice %></p>

<p>
  <b>Run url:</b>
  <%= @twitter_run.run_url %>
</p>

<p>
  <b>Miles:</b>
  <%= @twitter_run.miles %>
</p>

<p>
  <b>Pace:</b>
  <%= @twitter_run.pace %>
</p>

<p>
  <b>Accounted:</b>
  <%= @twitter_run.accounted %>
</p>

<p>
  <b>User:</b>
  <%= @twitter_run.user_id %>
</p>


<%= link_to 'Edit', edit_twitter_run_path(@twitter_run) %> |
<%= link_to 'Back', twitter_runs_path %>
