


<% content_for :head_style do %>
  <%= stylesheet_link_tag 'bootstrap-3' %>
  <%= stylesheet_link_tag 'jumbotron' %>  
  <%= stylesheet_link_tag 'header' %>
<% end %> 

    <div class="jumbotron container">
      <div class="losquemas-users"></div>
      <div class="tableusers text-center">
        <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th><div class="titlenombre"></div></th>
                    <th><div class="titlekms"></div></th>
                  </tr>
                </thead>
                <tbody>
  					<%= will_paginate @users %>

  					<% @users.each_with_index do |user,i|%>

                    <tr>
                      
                      <td><%= i+1%></td>
                      <td><%= image_tag("http://graph.facebook.com/"+user.facebook_id+"/picture" ,:class=> 'fbimage') %></td>
                      <td><%= user.first_name %></td>
                      <td><%= user.kilometers %></td>
                    </tr>
                  <% end %>

                </tbody>
              </table>
          </div>
      </div>