<% content_for :head_style do %>
  <%= stylesheet_link_tag 'bootstrap-3' %>
  <%= stylesheet_link_tag 'jumbotron' %>  
  <%= stylesheet_link_tag 'header' %>
<% end %> 

    <div class="jumbotron container text-center">
      <div class="container back-brick">
        <div class="title-jumbo">
        ESTOS SON<br> 
        LOS 12 BARRIOS<br>
        DE MÉXICO DF.<br>
        QUE MÁS SE MUEVEN.
      </div>
        <p class="sub-jumbo">¿TÚ POR CUÁL CORRES?</p>
      </div>
    </div>
    <div class="container back-brick">
          <div style="margin-bottom:40%;" class="visible-md  visible-lg"></div>

      <!-- Example row of columns -->
            <div class="row barrioscontainer">
     
                            <% @hoods.each do |neighborhood| %>
                                             <div class="col-lg-3 col-sm-4 col-xs-6 text-center">
                                  <a href="/users/update_hood?neighborhood_id=<%=neighborhood.id%>"><%= image_tag(neighborhood.picture_url_big , :class => "barrioimg") %></a>
                                                        </div>

                            <% end %>
            </div>
          <div style="margin-bottom:40%;" class="visible-md  visible-lg"></div>

      


  

   
    </div> <!-- /container -->

