<% content_for :head_style do %>
  <%= stylesheet_link_tag 'bootstrap-3' %>
  <%= stylesheet_link_tag 'jumbotron' %>  
  <%= stylesheet_link_tag 'header' %>
  <%= stylesheet_link_tag 'autocomplete' %>


<% end %> 
  <%= javascript_include_tag 'zjquery-ui' %>

    <div class="jumbotron container text-center">
        <div style="margin-top:7%;" ></div>
        <div class="container back-brick">
          <div class="title-jumbo">
              ESTOS SON<br> 
              LOS 12 BARRIOS<br>
              DE MÉXICO DF.<br>
              QUE MÁS SE MUEVEN.
          </div>
          <p class="sub-jumbo">¿TÚ POR CUÁL CORRES?</p>
          <div id="neon-down-1" class="neon-down visible-lg visible-md"></div>

        </div>
    </div>



    <div class="container back-brick">
          <div style="margin-bottom:40%;" class="visible-md  visible-lg"></div>
          <div style="margin-bottom:10%;" class="hidden-md    hidden-lg"></div>
          <div class="row barrioscontainer">
     
                            <% @hoods.each do |neighborhood| %>
                                             <div class="col-lg-3 col-sm-4 col-xs-6 text-center">
                                  <a href="/users/update_hood?neighborhood_id=<%=neighborhood.id%>"><%= image_tag(neighborhood.picture_url_big , :class => "barrioimg") %></a>
                                                        </div>

                            <% end %>
          </div>
          <div style="margin-bottom:40%;" class="visible-md  visible-lg"></div>


          <div class="jumbotron container text-center">
              <div class="title-jumbo">
                  SI TU BARRIO <br>NO ES UNO DE LOS 12<br> CORRE PARA HACERLO VISIBLE.  
              </div>
              <div class="ui-widget">
                <input id="tags" />
              </div>
              <a id="correlink" href=""><div class="corre-neon">CORRE</div></a>
              <div style="padding-bottom:20%;"> </div>
          </div>

      


  

   
    </div> <!-- /container -->
    <script type="text/javascript">
          window.addEventListener("load",function() {
              setTimeout(function(){
                  window.scrollTo(0, 1);
              }, 0);
          });
    </script>
      <script>
  $(function() {
    var availableTags = [
          <% @hoodsall.each do |neighborhoodall| %>
          {label:"<%= neighborhoodall.name %>",value:"<%= neighborhoodall.id %>"},
          <% end %>
     
    ];
    $( "#tags" ).autocomplete({
         select: function(event, ui) {
        event.preventDefault();
        $("#tags").val(ui.item.label);
        $("#correlink").attr("href", "/users/update_hood?neighborhood_id="+ui.item.value+"")
    },
      source: availableTags


    });
  });
  </script>

