<% content_for :head_style do %>
  <%= stylesheet_link_tag 'bootstrap-3' %>
  <%= stylesheet_link_tag 'jumbotron' %>  
  <%= stylesheet_link_tag 'header' %>
<% end %> 

    <div class="jumbotron container">
      <div class="losquemas"></div>
      <div class="tablebarrios text-center">
        <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>

                    <th><div class="titlebarrios"></div></th>
                    <th><div class="titlekms"></div></th>
                    <!-- <th><div class="titlepersonas"></div></th> -->
                  </tr>
                </thead>
                <tbody>

                  <% @hoodsall.each_with_index do |neighborhood,i| %>
                    <tr>
                      
                      <td><%= i+1 %></td>
                      <td><%= link_to image_tag(neighborhood.picture_url_big,:class=>"rankingbarrios") , hood_detail_path(neighborhood.id), :class => 'linkbarrio' %></td>
                      <td><%= link_to neighborhood.name, hood_detail_path(neighborhood.id), :class => 'linkbarrio' %></td>
                      <td><%= neighborhood["total_kilometers"] %></td>
                      <!-- <td><%= neighborhood["total_users"] %></td> -->
                    </tr>
                  <% end %>
                </tbody>
              </table>
          </div>
      </div>


                   
            
