<% content_for :head_style do %>
  <%= stylesheet_link_tag 'bootstrap-3' %>
  <%= stylesheet_link_tag 'jumbotron' %>  
  <%= stylesheet_link_tag 'header' %>
<% end %> 
    <div class="jumbotron container">
      <div class="table-namebarrios text-center">

           <table class="table ">
                <thead>
                  <tr>
                    <th><%=  image_tag(@current_hood.picture_url_big ,:class=>'current_hood_picture')  if @current_hood.picture_url_big %></th>
                    <th><%= image_tag( @current_hood.picture_url_normal, :class => 'hood_normal_title') if @current_hood.picture_url_normal %></th>
                    <th><div class="center-row"><div class="total-kms"></div><%=  @current_hood.stats[:kilometers] %></div></th>
                  </tr>
                </thead>
            </table>
          </div>
      <div class="tableusers text-center">

        <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th><div class="titlenombre"></div></th>
                    <th><div class="titlekms"></div></th>
                  </tr>
                </thead>
                <tbody>
  					<% @users.each_with_index do |user,i|%>
                    <tr>
                      <td><%= i+1+@users.offset%></td>
                      <% if current_user.role? :influencer %>
                        <td><%= image_tag("http://graph.facebook.com/"+user.facebook_id+"/picture" ,:class=> 'fbimage') %></td>
                        <td><%= user.first_name %></td>
                      <% else %>
                        <td><%= link_to image_tag("http://graph.facebook.com/"+user.facebook_id+"/picture" ,:class=> 'fbimage'), "http://facebook.com/" + user.facebook_id, :class => 'linkbarrio', :target => "_blank" %></td>
                        <td><%= link_to user.first_name, "http://facebook.com/" + user.facebook_id, :class => 'linkbarrio', :target => "_blank" %></td>
                      <% end %>
                      <td><%= user.kilometers %></td>
                    </tr>
                  <% end %>

                </tbody>
              </table>

              <%= will_paginate @users , :page_links => false, :next_label => '<div class="neon-up-new pull-right"></div>
', :previous_label => '<div class="neon-down-new pull-left"></div>
'  %>
          </div>
          <div style="margin-bottom:35%;"> </div>
      </div>
