
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'jumbotron-narrow' %>  
  <%= stylesheet_link_tag 'header' %>  


<div class="container-narrow">
  <div class="jumbotron">
    <h1>CORRE POR TU BARRIO.</h1>
    <p class="lead">
      QUE TU BARRIO SEA EL QUE MÁS SE MUEVE DE LA CIUDAD.</br>
    SÚMALE KILÓMETROS.
    </p></br>


     <p class="instructions">
      DESCARGA NIKE+ Y CONECTA TUS REDES SOCIALES </br>
      PARA QUE TUS KILÓMETROS CUENTEN.
     </p>
    <p><%= link_to '', 'https://itunes.apple.com/mx/app/nike+-running/id387771637?mt=8', :class => 'btn-nike' %></p>
     <p class="instructions">
      SI YA TIENES NIKE+ INICIA TU SESIÓN
     </p>
    <p><%= link_to '', user_omniauth_authorize_path(:facebook), :class => 'btn-facebook' %>
</p>
    <br>
    <p class="nikelogo">JUST DO IT.</p>
    <img style="        margin-top: -20px;" src="/assets/swosh.png">


    <br>
    <div style="padding-bottom:20%;"> </div>


  </div>
<!-- 


  <div class="footer">
    <p>&copy; Company 2013</p>
  </div> -->

</div> <!-- /container -->
