<% content_for :head_style do %>
  <%= stylesheet_link_tag 'bootstrap-3' %>
  <%= stylesheet_link_tag 'jumbotron' %>  
  <%= stylesheet_link_tag 'header' %>
<% end %> 
<% content_for :head_script do %>
  <%= javascript_include_tag 'confirm_attendance' %>
<% end %>
    
<div class=" container text-center back-muertos-print">
  <div id="contentmuertos">
          <%= link_to "", "#" ,:class=>"    imprimereg", :onclick => "printweb();" %>

      <%= link_to "", "https://itunes.apple.com/mx/app/nike+-running/id387771637?mt=8" ,:class=>"descarganike" %>

  </div>
</div>
<script type="text/javascript">
function printweb(){
 var mywindow = window.open('', 'my div', 'height=500,width=660');
        mywindow.document.write('<html><head><title>Registro Reto Día de Muertos</title>');
                mywindow.document.write('<img src="/assets/registro.png" style="width: 640px; height:1300px;"/>');
                mywindow.document.write('<div style="position:absolute;font-family: Arial;font-size: 50px; color:green; top:680px; left:270px;"><%= current_user.id %></div>');

        mywindow.print();

}
</script>
<style type="text/css">
.o{

  font-family: Arial;
  font-size: 30px;
  font-color:green;
}
</style>
