<% content_for :head_style do %>
  <%= stylesheet_link_tag 'bootstrap-3' %>
  <%= stylesheet_link_tag 'jumbotron' %>  
  <%= stylesheet_link_tag 'header' %>
<% end %> 
<% content_for :head_script do %>
  <%= javascript_include_tag 'facebook_invite' %>
<% end %> 
<div class="container">
    <div id="perfil" class="profile text-center" >
        <div class="miperfil">
            
        </div>
        <div class="">
            <div class="col-md-4 fotoperfilabajo">
            		<div class="fotoperfilabajo"><%= image_tag("https://graph.facebook.com/"+current_user.facebook_id+"/picture?width=100&height=100", alt: "Foto de perfil", :class=>'foto-perfil') %>  
                </div>
                <div class="wholekm">
                <div class="titlekms col-md-6"></div>
                  <div class="current-km col-md-6"><%= current_user.kilometers %></div>
                </div> 
            </div>
            <div class="col-md-2 textoperfilabajo">
                <div class="text-left visible-lg visible-md">
                  <%= current_user.first_name %><br>
                  <%= current_user.last_name %>
                </div>
                <div class=" hidden-lg hidden-md">


                     <%= current_user.first_name %>
                  <%= current_user.last_name %><br>
                </div>
            </div>
            <div class="col-md-6 ">
        	  	    <%= image_tag(current_user.neighborhood.picture_url_big,:class=>'shieldprofile') if current_user.neighborhood.picture_url_big %><br>


						<%= link_to '', :hood_reselect, :id=>'hood_reselect' %>
					
            </div>
        </div>
        <div class="friend-invite text-center">
	
		   <div class="shares-social">
		          <a href=" http://www.facebook.com/sharer.php?s=100&p[title]=Nike Run - Corro por mi barrio &p[summary]=Yo corro por <%= current_user.neighborhood.name %>. ¿Tú por qué barrio corres? %23justdoit&p[url]=http://www.nike.com/justdoit&p[images][0]=http://werunmexico.com/assets<%= current_user.neighborhood.picture_url_thumb %>" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')"><div class="share-facebook"></div></a>
		          <a  href="https://twitter.com/intent/tweet?text=Yo corro por <%= current_user.neighborhood.name %>. ¿Tú por qué barrio corres? %23justdoit &url=http://www.nike.com/justdoit"><div class="share-twitter"></div> </a>
		      </div>
            Amigos que también están corriendo por su barrio
            <div id="friends"></div>
            <a href= "#" id="invite-friends">Reta a tus amigos.</a>
            </br>
        </div>
    </div>
    <div style="margin-bottom:30%;"> </div>

</div>
<div id="fb-root"></div>
<script>
  var ids = [];
  var app_key = '<%= ENV['FACEBOOK_APP_KEY'] %>';
  var access_token = '<%= current_user.access_token %>';
  var hood_name = '<%= current_user.neighborhood.name %>';
</script>
