
	
    <div class="container-narrow">


    <div id="perfil" class="jumbotron barrios" >
    		<div class="corre-neon">
    		MI PERFIL
    	</div>
	<%= current_user.first_name %>
	<%= current_user.last_name %><br>
	<%= current_user.kilometers %><br>

	<%= current_user.neighborhood.name %><br>

		<%= image_tag(current_user.neighborhood.picture_url_thumb) %><br>

	<%= image_tag("https://graph.facebook.com/"+current_user.facebook_id+"/picture?width=121&height=121", alt: "Edit Entry") %> 
	Estos son tus amigos corriendo por su barrio
<div id="friends">
</div>
<script>
$.getJSON('https://api.facebook.com/method/fql.query?query=SELECT%20uid,%20name%20FROM%20user%20WHERE%20uid%20IN%20%28SELECT%20uid2%20FROM%20friend%20WHERE%20uid1%20=%20me%28%29%29%20AND%20is_app_user%20=178205172320915&access_token=CAAISUKXMOE4BAHtZBLrdf2S2eXjj1qZC50nuZCaowlZCZBPpHANhBFqwoILEk4TOeB11s6m0GLnwIlZB3ZB4dm1DBrsiEbVbLniZA5ZAbNzYrqWFVQbFtmOlNeyLshQH07OYJCx7G5CNVF4jGq84tRZBGPUKpc7Dm86K4ZD&format=json', function(data) {
  var items = [];
 console.log(data[0].uid);
  console.log(data.length);

  $.each(data, function(key, val) {
    items.push('<img src="https://graph.facebook.com/' + val.uid + '/picture?width=50&height=50"/>');
  });
  console.log(items);


for (var i = 0; i <= items.length ; i++) {
	$( "#friends" ).append( items[i] );

};

});
</script>
</br>
</div>
</div>




