<style>
	.foto-perfil{
		border:6px solid white;
		width: 142px;
		margin:0 auto;
	}
	.perfil-c{
  font-family: 'Conv_FuturaStd-MediumCondensed',Sans-Serif;
	}
	.marketing{
		width: 600px;
margin: 0 auto;
	}
	.red{
		font-family:'NikeNeon',Sans-Serif;
	color:red;
	font-size:42px;
	text-shadow:0 0 red, 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 1000px red;
	
	}
</style>
<% content_for :head_script do %>
  <%= javascript_include_tag 'facebook_invite' %>
<% end %> 
<div class="container-narrow">
  <div id="perfil" class="jumbotron barrios perfil-c" >
    <div class="corre-neon">
    MI PERFIL
    </div>
    <div class="row marketing">
      <div class="col col-lg-6">
  		<div class="foto-perfil"><%= image_tag("https://graph.facebook.com/"+current_user.facebook_id+"/picture?width=100&height=100", alt: "Foto de perfil") %> </div>
	   	<%= current_user.first_name %>
		  <%= current_user.last_name %><br>
		  <div class="red">KM:</div><%= current_user.kilometers %><br>
      </div>
      <div class="col col-lg-6">
  	  	<%= image_tag(current_user.neighborhood.picture_url_big) %><br>
      </div>
    </div>
  	Estos son tus amigos corriendo por su barrio
    <div id="friends"></div>
    <a href= "#" id="invite-friends">Invita amigos</a>
    </br>
  </div>
</div>
<div id="fb-root"></div>
<script>
  var ids = [];
  var app_key = '<%= ENV['FACEBOOK_APP_KEY'] %>';
  var access_token = '<%= current_user.access_token %>';
</script>
