<% content_for :head_style do %>
  <%= stylesheet_link_tag 'bootstrap-3' %>
  <%= stylesheet_link_tag 'jumbotron-narrow' %>  
  <%= stylesheet_link_tag 'header' %>
<% end %> 

    <div class="container-narrow">
    	<div class="spacing"> </div>
      <div class="twitter_log">
        <p>¿COMPARTES TUS CARRERAS EN TWITTER?</p>
    		<p>
    		  <%= link_to '', user_omniauth_authorize_path(:twitter), :class => 'btn-twitter' %>
    		  <%= link_to '', :profile, :class => 'btn-cerrar' %>
    	  </p>
    	</div>
	</div>
