<%= form_for(@facebook_run) do |f| %>
  <% if @facebook_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facebook_run.errors.count, "error") %> prohibited this facebook_run from being saved:</h2>

      <ul>
      <% @facebook_run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :run_id %><br />
    <%= f.number_field :run_id %>
  </div>
  <div class="field">
    <%= f.label :miles %><br />
    <%= f.text_field :miles %>
  </div>
  <div class="field">
    <%= f.label :pace %><br />
    <%= f.text_field :pace %>
  </div>
  <div class="field">
    <%= f.label :accounted %><br />
    <%= f.check_box :accounted %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
