<p id="notice"><%= notice %></p>

<p>
  <b>Run:</b>
  <%= @facebook_run.run_id %>
</p>

<p>
  <b>Miles:</b>
  <%= @facebook_run.miles %>
</p>

<p>
  <b>Pace:</b>
  <%= @facebook_run.pace %>
</p>

<p>
  <b>Accounted:</b>
  <%= @facebook_run.accounted %>
</p>

<p>
  <b>User:</b>
  <%= @facebook_run.user_id %>
</p>


<%= link_to 'Edit', edit_facebook_run_path(@facebook_run) %> |
<%= link_to 'Back', facebook_runs_path %>
