<%= form_for(@run) do |f| %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% @run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :run_id %><br />
    <%= f.text_field :run_id %>
  </div>
  <div class="field">
    <%= f.label :run_url %><br />
    <%= f.text_field :run_url %>
  </div>
  <div class="field">
    <%= f.label :kilometers %><br />
    <%= f.text_field :kilometers %>
  </div>
  <div class="field">
    <%= f.label :pace %><br />
    <%= f.text_field :pace %>
  </div>
  <div class="field">
    <%= f.label :published_date %><br />
    <%= f.datetime_select :published_date %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :accounted %><br />
    <%= f.check_box :accounted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
