<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Regístrate y suma tus kilómetros. Entre más 
    corres, más iluminas el escudo de tu barrio. 
    Eleva tu orgullo y convierte tu barrio en el más 
    visible.">
    <meta name="keywords" content="we run, México, we run mx, barrio, correr, 
    running, nike, nike plus, nike+, maratón, 
    carrera, DF, sports, ejercicio, 10K, kilómetros, 
    Ciudad de México, escudos, orgullo, corre 
    por tu barrio, mueve la ciudad, just do it, 
    movimiento, visibilidad">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name="author" content="">
    <meta property="og:image" content="http://werunmexico.com/assets/icon128.png"/>
    <meta property="og:image:secure_url" content="https://werunmexico.com/assets/icon128.png" />
    <title>Corre por tu barrio - Nike</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= yield :head_style %>
    <%= javascript_include_tag "application" %>
    <%= yield :head_script %>
    <%= csrf_meta_tags %>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43385526-1', 'werunmexico.com');
  ga('send', 'pageview');

</script>
</head>
<body>
      <div class="header">
        <div class="headcontainer ">
            <ul class="nav nav-pills">
              <li><a class="homebutton" href="/" ></a></li>
              <li><a href="http://www.nike.com/xl/es_la/c/just-do-it/" target="_blank" >ABOUT</a></li>
              <li><%= link_to "RANKING", :hood_ranking %></li>
              <li><%= link_to "TÉRMINOS", :terms_and_conditions %></li>
            </ul>
            <ul class="shares">
              <% if user_signed_in? %>
                <li><%= link_to image_tag('avatar.png',:class=>"avatar"), :profile %>
                  <%= link_to current_user.first_name, :profile, :class =>"nolink" %></li>
              <% end %>
                <li><%= link_to image_tag("/assets/tw.png", :style => "width: 17px; height:16px;"), 'http://twitter.com/nikecorremx', :target => "_blank" %></li>
                <li><%= link_to image_tag("/assets/fb.png", :style => "width: 17px; height:16px;"), 'http://www.facebook.com/nikecorre', :target => "_blank" %></li>
            </ul>
        </div>
      </div>

<%= yield %>

</body>
</html>
