<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Regístrate y suma tus kilómetros. Entre más 
    corres, más iluminas el escudo de tu barrio. 
    Eleva tu orgullo y convierte tu barrio en el más 
    visible.">
    <meta name="keywords" content="we run, México, we run mx, barrio, correr, 
    running, nike, nike plus, nike+, maratón, 
    carrera, DF, sports, ejercicio, 10K, kilómetros, 
    Ciudad de México, escudos, orgullo, corre 
    por tu barrio, mueve la ciudad, just do it, 
    movimiento, visibilidad">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name="author" content="">
    <title>Corre por tu barrio - Nike</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
    
      <div class="header">
        <div class="headcontainer ">

            <ul class="nav nav-pills">

              <li><a class="homebutton" href="#"></a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">RANKING</a></li>
              <li><a href="#">TERMINOS</a></li>

            </ul>

            <ul class="shares">
                 <% if user_signed_in? %>
               <li><%= current_user.first_name %></li>

                 <% end %>

              <li><img src="/assets/tw.png"></li>
              <li><img src="/assets/fb.png"></li>

            </ul>

        </div>
      </div>

<%= yield %>

</body>
</html>
